<h1>Waitlists</h1>

<table>
  <thead>
  <tr>
    <th> Student ID</th>
    <th> Course Code</th>
    <th colspan="1"></th>
  </tr>
  </thead>
  <tbody>
  <% @waitlists.each do |waitlist| %>
    <td><%= waitlist.student_code %></td>
    <td><%= waitlist.course_code %></td>
    <td><%= link_to "Show this waitlist", waitlist %></td>
  <% end %>
  </tbody>
</table>

<%= link_to "New waitlist", new_waitlist_path %>