<div id="<%= dom_id admin %>">
<!--  <p>-->
<!--    <strong>Admin:</strong>-->
    <%#= admin.admin_id %>
<!--  </p>-->

<!--  <p>-->
<!--    <strong>Password:</strong>-->
    <%#= admin.password %>
<!--  </p>-->

  <p>
    <strong>Name:</strong>
    <%= admin.name %>
  </p>

<!--  <p>-->
<!--    <strong>Email:</strong>-->
    <%#= admin.email %>
<!--  </p>-->

  <p>
    <strong>Phone number:</strong>
    <%= admin.phone_number %>
  </p>

</div>
