<h1>Profile</h1>

<div>
  <% @admins.each do |admin| %>
    <p>
      <strong>Name:</strong>
      <%= admin.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= admin.email %>
    </p>

    <p>
      <strong>Phone Number:</strong>
      <%= admin.phone_number %>
    </p>

    <%= link_to "Edit Profile", edit_admin_path(admin) %>
  <% end %>
</div>