<!--<h1>New admin</h1>-->

<%#= render "form", admin: @admin %>

<!--<br>-->

<!--<div>-->
  <%#= link_to "Back to admins", admins_path %>
<!--</div>-->

<h1>New instructor</h1>

<%= render "form", instructor: @instructor %>

<br>

<div>
  <%= link_to "Back to instructors", instructors_path %>
</div>

<div>
  <%= link_to "Back to admins", admins_path %>
</div>
