<p style="color: green"><%= notice %></p>

<h1>Instructors</h1>

<div id="instructors">
  <% @instructors.each do |instructor| %>
    <%= render instructor %>
    <p>
      <%= link_to "Show this instructor", instructor %>
    </p>
  <% end %>
</div>

<%= link_to "New instructor", new_instructor_path %>
