<h1>New instructor</h1>

<%= render "form", instructor: @instructor %>

<br>

<div>
  <% if current_user %>
    <%= link_to "Back to instructors", instructors_path %>
  <% else %>

  <% end %>
</div>
